@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    color: rgb(228, 203, 141);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 10%;
    gap: 10%;
    background: url(images/dark-warrior.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Eagle Lake', cursive, sans-serif, serif;
}

.opening {
    font-size: 22px;
    padding-top: 10%;  
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding: 0 12%;
    align-items: center;
    height: 180px;
    gap: 10%;
}

button {
    width:180px;
    height: 180px;
    min-height: 180px;
    min-width: 180px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition:all 0.4s;
    /* box-shadow: 0 0 5px #fd0400; */
}

button:hover {
    width: 220px;
    height: 220px;
    border: 4px neon rgb(38, 110, 173);
    min-height: 220px;
    min-width: 220px;
    background-color: transparent;
    transition:all 0.4s;
    box-shadow:0 0 10px #faf9f9;
    border-radius: 10px;
}

#scissors {
    background-image: url(images/scissors.png);
    background-position: center;
    background-size: cover;
}

#rock{
    background-image: url(images/rock.png);
    background-position: center;
    background-size: cover;
}

#paper {
    background-image: url(images/paper.png);
    background-position: center;
    background-size: cover;
}

.computerChoice {
    font-size: 24px;
}

.results {
    font-size: 28px;
    font-weight: bold;
    color: rgb(255, 158, 3);
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 25px;
}